@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}




/* Header */
header{
    
    height: 400px;
    background-color: rgb(56, 56, 56);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

    header::before{
        content: "";
        background: url('https://images.unsplash.com/photo-1529243856184-fd5465488984?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1069&q=80') center no-repeat;
        background-size: cover;
        background-attachment: fixed;
        opacity: 0.2;
        height: 400px;
        width: 100%;
        position: absolute;
    }

    h1{
        color: whitesmoke;
        font-size: 4rem;
        /* font-family: 'Times New Roman', Times, serif; */
        text-shadow: grey 2px 2px 1px;
    }

/* End Header */




/* News Section */

#news{
    background-color: #fff;
    page-break-after: 50px 0 32px;
}
    article{
        width: 768px;
        margin: 0 auto 32px;
        padding: 6px 15px 15px;
        border-bottom: 1px solid rgb(128, 128, 128);
    }

        article:nth-child(2n){
            background-color: rgb(241, 241, 241);
        }
    
    
    article a{
        color: rgb(33, 37, 41);
        /* text-decoration: none; */
    }

        article a:hover{
            color: #0085a1;
        }

    
    /* .new .article-title{
        display: inline-grid;
        grid-template-columns: 2fr;
        grid-template-rows: 1fr;
    } */

    
    .new .article-title::before{
        content: 'Новое';
        position: relative;
        float: left;
        background-color: red;
        color: whitesmoke;
        padding: 5px 10px;
        bottom: -22px;
        margin-right: 10px;       
    }

    article h2{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 5px;
    }

    .article-meta{
        color:rgb(134, 142, 150);
        margin-bottom: 5px;
    }

    article img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    article .btn{
        padding: 6px 15px;
        background-color: rgb(128, 128, 128) ;
        color: whitesmoke;
        border-radius: 3px;
    }

        article .btn:hover{
            background-color: whitesmoke;
            color: rgb(128, 128, 128);
            border: rgb(128, 128, 128) solid 1px

        }

/* Emd News Section */




/* Footer */

footer{
    padding: 20px 0 60px 0;
    text-align: center;
}

    footer .links{
        margin-bottom: 50px;
        
    }

    footer .links > a{
        color: #636363;
        padding: 0 25px;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: .1rem;
        /* text-decoration: none; */
        text-transform: uppercase; 
    }

    .copyright{
        color: rgb(108, 117, 125);
        font-family: 'Times New Roman', Times, serif;
    }

/* End Footer */
